# Ignore all .imem and .cache files in folder imem.
imem/*.imem
imem/*.cache

# Ignore all .dmem files in folder dmem.
dmem/*.dmem

doc/*.lof
doc/*.log
doc/*.lot
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.lol
doc/*.out
doc/*.xml
doc/*.gz
doc/*.toc




.library_mapping.xml
.metadata/
.project
.settings/
Backup/
Literature/
RemoteSystemsTempFiles/       


# Ignore work directories.
hdl/workA
hdl/workB
hdl/workC